* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {

    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}

.navbar__links {
    margin-left: auto;
}

.clickable-name {
    color: #222; /* Синий цвет текста */
    cursor: pointer; /* Указывает, что элемент кликабельный */
}

.clickable-name:hover {
    color: #0056b3; /* Более темный оттенок синего при наведении */
    text-decoration: none; /* Убираем подчеркивание при наведении */
}

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
}

.autocomplete-list li {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.autocomplete-list li:hover {
    background-color: #f0f0f0;
}

