.role-list {
    display: flex;
    flex-direction: column;
    gap: 1px; /* Уменьшает отступы между элементами */
    padding: 0;
    margin: 1px 0; /* Уменьшает общий отступ списка */
}

.role-item {
    cursor: pointer;
    text-align: center;
    padding: 5px 5px; /* Уменьшаем размер кнопки */
    font-size: 14px; /* Немного уменьшаем шрифт */
    border-radius: 3px;
    transition: background 0.3s;
}

.role-item:hover {
    background: rgba(255, 255, 255, 0.2);
}

.role-item.active {
    background: rgba(255, 255, 255, 0.3);
    font-weight: 500;
}